APP_ENV="dev"

#Database
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
DATABASE_NAME="test"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="12345678"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${DATABASE_NAME}?schema=public"